body {
background: white; /* try type yellow */
color: #323232;

margin: 0;
height: 100vh;

/* display: flex;
align-items: center;
justify-content: center; */

font-family: Helvetica neue, roboto;
}

.links line {
stroke: #999;
stroke-opacity: 0.6;
}

.nodes ellipse {
stroke: rgb(126, 223, 46);
stroke-width: 1.5px;
}

.node-text {
font-size: 12px;
}

svg.broader_network {
background-color: pink;
}

svg.narrower_network {
background-color: pink;
}

svg.over {
z-index: 1;
}

.nodes ellipse{
  cursor: pointer;
}

.node-text text{
  cursor: default;
}

/* svg {
  background-color: #fcf6c2;
} */

.oval {
  width: 100%;
  height: auto;
  background: yellow;
  border-radius: 50%;
  border: dashed green 2px;
  padding: 60px 0 0 0;

}
